body {
}

.list-item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    }
.list-item-narrative{
    color: #666;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 19px;
    }
